.boards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.board{
   

    &__contenedor{
        display: flex;
    }

    &__base{
        display: inline-block;
    }

    &__par{
        border: 1px solid #0084bb;
        height: 3em;
        width: 3em;
        margin: 0px;
        background-color:#0084bb;
    }

    &__impar{
        border: 1px solid #00a1e4;
        height: 3em;
        width: 3em;
        margin: 0px;
        background-color: #00a1e4;
    }

    &__nbase{
        height: 3em;
        width: 3em;
        margin: 0px;
        padding: auto;
    }
}