.header{
    background-image: linear-gradient(to right, rgb(0 0 0 / .5), rgb(0 0 0 / .5)), url("../../../../assets/Img/battleships-6946449_1920.jpg");
    background-position: center 52%;
    background-repeat: no-repeat;
    min-height: 50rem;
    margin-bottom: 2rem;
  

}